$menuActiveColor: #32cdff;
$textColor: #C4C4C4;

.menu-item {
  font-size: 1.5rem;
  color: $textColor;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  margin-bottom: -2px;
  margin-left: 5rem;
}

.menu-item-active {
  border-bottom: 4px solid $menuActiveColor;
  color: $menuActiveColor;
}